@{
    ViewData["Title"] = "Home Page";
}



<Container fluid>
    <Row>
        <Col lg={12}>
        <Carousel>
            <Carousel.Item>
                <img src="~/images/Carousel-image-Start.png" className="d-block w-100" alt="First slide" />
                <Carousel.Caption>
                </Carousel.Caption>
            </Carousel.Item>
            <Carousel.Item>
                <img src="~/images/Carousel-Image-Mid.png"
                     className="d-block w-100"
                     
                     alt="Second slide" />
                <Carousel.Caption>
                </Carousel.Caption>
            </Carousel.Item>
            <Carousel.Item>
                <img src="~/images/Carousel-Image-End.png"
                     className="d-block w-100"
                    
                     alt="Third slide" />
                <Carousel.Caption>
                </Carousel.Caption>
            </Carousel.Item>
        </Carousel>
        </Col>
    </Row>
</Container>


<div class="container-fluid px-2">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="~/images/Card-Image-1.png" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h5>Welcome to task management system.</h5>
                            <p>Content text goes here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5>Handle Multiple Projects Efficiently.</h5>
                            <p>Content text goes here.</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="~/images/Card-Image-2.png" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


